$bg-day: linear-gradient(180deg, #498CEC 0%, #0049B1 100%);
$bg-night: linear-gradient(180deg, #1F1F28 0%, #01275E 100%);
$bg-sunset: linear-gradient(135deg, #0E0F20 0%, #1C66CF 100%);
$bg-sunrise: linear-gradient(135deg, #1C66CF 0%, #070710 100%);
$primary: #FFFFFF;
$secondary: rgba(255, 255, 255, 0.50);
$additionaly-day: #1D539F;
$additionaly-night: #01275E;
$active: #174B95;
$error: #FF0000;
