@import "default.scss";
@import "colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800;900&display=swap');

body {
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow: hidden;
}

.container {
    width: 1300px;
    margin: 0 auto;

    @media (max-width: 1366px) { 
        width: 980px;
    }
}

.header {
    z-index: 3;
    padding-top: 86px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__city {
        z-index: 3;
        & h1 {
            font-size: 48px;
            color: $primary;
            font-weight: 600;
            @media (max-width: 1366px) { 
                font-size: 44px;
            }
        }
        &__selected {
        }
        &__noselected {
            display: none;
            position: relative;
            & span {
                position: absolute;
                top: 21px;
                right: 35px;
                cursor: pointer;
                @media (max-width: 1366px) { 
                    top: 16px;
                }
            }
        }
        &__position {
            margin-top: 10px;
            & span:not(:first-child) {
                margin-left: 30px;
            }
            & span {
                font-size: 20px;
                color: $secondary;
                font-weight: 300;
                cursor: pointer;
                @media (max-width: 1366px) { 
                    font-size: 16px;
                }
            }
        }
    }

    &__search {
        width: 379px;
        height: 65px;
        border-radius: 40px;
        font-size: 20px;
        color: #000000;
        font-weight: 400;
        padding-left: 37px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid transparent;
        @media (max-width: 1366px) { 
            width: 350px;
            height: 55px;
            font-size: 16px;
        }

        &.error {
            border: 1px solid $error;
            box-shadow: 0px 0px 15px 3px rgba(255, 0, 0, 0.25);
        }
        &__error {
            display: none;
            position: absolute;
            top: -30px;
            left: 0;
            width: 379px;
            height: 24px;
            font-size: 20px;
            color: $primary;
            font-weight: 400;
            padding-left: 37px;
        }
    }

    &__unit {
        z-index: 3;
        width: 88px;
        height: 36px;
        border-radius: 50px 50px 50px 50px;
        border: 1px solid $secondary;
        display: flex;
        & p {
            font-size: 20px;
            color: $primary;
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
        &__сelsius {
            width: 44px;
            height: 34px;
            border-radius: 50px 0px 0px 50px;
            position: relative;
            cursor: pointer;
            transition: all 0.5s ease;
        }
        &__fahrenheit {
            width: 44px;
            height: 34px;
            border-radius: 0px 50px 50px 0px;
            position: relative;
            cursor: pointer;
            transition: all 0.5s ease;
        }
    }

    &__time {
        z-index: 3;
        position: absolute;
        top: 35px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
        text-align: center;
        &__date {
            font-size: 22px;
            color: $primary;
            font-weight: 600;
            display: flex;
            justify-content: center;
            & span {
                margin-left: 7px;
            }
        }
        &__clock {
            font-size: 56px;
            color: $primary;
            font-weight: 700;
        }
        &__description {
            font-size: 20px;
            color: $primary;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            & span {
                margin-left: 15px;
            }
            & img {
                width: 45px;
            }
        }
    }
}

.wheather__main__content {
    z-index: 3;
    position: relative;
    height: 45%;
    @media (max-width: 1366px) { 
        height: 45%;
    }
    &__temperature {
        width: 585px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        @media (max-width: 1366px) { 
            width: 535px;
        }
        &__content {
            padding-bottom: 25px;
            display: flex;
            justify-content: space-between;
            position: relative;
            & img {
                width: 250px;
                @media (max-width: 1366px) { 
                    width: 200px;
                }
            }
            & h1 {
                font-size: 256px;
                color: $primary;
                font-weight: 800;
                @media (max-width: 1366px) { 
                    font-size: 236px;
                }
            }
            & span {
                font-size: 64px;
                color: $primary;
                font-weight: 900;
            }
    
            & p {
                font-size: 36px;
                color: $primary;
                font-weight: 300;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, 0%);
                @media (max-width: 1366px) { 
                    font-size: 32px;
                }
            }
        }
    }
}

.weather__hour__content {
    width: 996px;
    height: 136px;
    display: flex;
    justify-content: space-between;
    &__card {
        position: relative;
        z-index: 10;
        width: 108px;
        height: 136px;
        border-radius: 25px;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
        padding-top: 12px;
        text-align: center;
        cursor: pointer;
        transition: transform 0.5s ease;
        &__date {
            display: flex;
            justify-content: center;
            font-size: 14px;
            color: $primary;
            font-weight: 500;
            & span {
                margin-left: 5px;
            }
        }
        &__time {
            font-size: 14px;
            color: $primary;
            font-weight: 500;
            margin-top: 5px;
        }
        &__temp {
            margin-top: 10px;
            font-size: 26px;
            color: $primary;
            font-weight: 800;
        }
        &__icon {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
                margin-top: 5px;
                width: 40px;
            }
        }
        &:hover &__parameters {
            transform: translate(-50%, -120px);
        }
        &__parameters {
            z-index: 3;
            transition: transform 0.3s ease;
            background: inherit;
            position: absolute;
            top: 0;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, 600px);
            width: 159px;
            height: 112px;
            border-radius: 25px;
            box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
            font-size: 12px;
            color: $primary;
            font-weight: 500;
            padding-left: 14px;
            padding-top: 13px;
            &__item:not(:first-child) {
                margin-top: 5px;
            }
            &__item {
                display: flex;
                & p {
                    color: $secondary;
                }
                & span {
                    margin-left: 5px;
                }
            }
        }
    }
}

.wheather__params {
    z-index: 3;
    width: 1089px;
    border-radius: 100px 100px 0px 0px;
    box-shadow: 0px 0px 45px 10px rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 55px;
    padding-bottom: 35px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    @media (max-width: 1366px) { 
        width: 820px;
    }

    &__param {
        & p {
            font-size: 24px;
            color: $secondary;
            font-weight: 500;
            margin-bottom: 10px;
            @media (max-width: 1366px) { 
                font-size: 20px;
            }
        }
        & span {
            font-size: 24px;
            color: $primary;
            font-weight: 400;
            @media (max-width: 1366px) { 
                font-size: 20px;
            }
        }
    }
}

.show {
    display: block;
}
.hide {
    display: none;
}
.active {
    background: $active;
}

.day-theme-bg {
    background: $bg-day;
}
.night-theme-bg {
    background: $bg-night;
}
.sunset-theme-bg {
    background: $bg-sunset;
}
.sunrise-theme-bg {
    background: $bg-sunrise;
}

.day-theme-additional {
    background: $additionaly-day;
}
.night-theme-additional {
    background: $additionaly-night;
}




.Day__broken__clouds {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/img/Day-broken-clouds.png);
    animation: anim 50s linear infinite;
}
.Day__few__clouds {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/img/Day-few-clouds.png);
    animation: anim 50s linear infinite;
}
.Day__overcast__clouds {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/img/Day-overcast-clouds.png);
    animation: anim 50s linear infinite;
}
.Day__scattered__clouds {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/img/Day-scattered-clouds.png);
    animation: anim 50s linear infinite;
}
.Day__mist {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/img/Day-mist.png);
    animation: anim 50s linear infinite;
}
.Night__broken__clouds {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/img/Night-broken-clouds.png);
    animation: anim 50s linear infinite;
}
.Night__few__clouds {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/img/Night-few-clouds.png);
    animation: anim 50s linear infinite;
}
.Night__overcast__clouds {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/img/Night-overcast-clouds.png);
    animation: anim 50s linear infinite;
}
.Night__scattered__clouds {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/img/night-scattered-clouds.png);
    animation: anim 50s linear infinite;
}
.Night__mist {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/img/Night-mist.png);
    animation: anim 50s linear infinite;
}
@keyframes anim {
    0%{background-position: 0px;}
    100%{background-position: 5440px;}
}

.Rain {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url(/src/img/rain.png);
    animation: slowRain 1.5s linear infinite;
}
@keyframes slowRain {
    0% {
        background-position: 55% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}